
.video__palestra--populares{
  width: 13rem;
  height: 8rem;
}
.video__palestra{
  width: 100%;
  height: 220px;
  
}
.nome_da_palestra{
 font: 700 1rem "DM Sans",  sans-serif;
 color: var(--cor-cinza-claro-titulo-invest);
 
}
.nome_da_palestra--todos{
  color: var(--cor-cinza);
}
.palestrante{
  font: 400 1rem "DM Sans",  sans-serif;
  color: var(--cor-branca);
}
.palestrante--todos{
  color: var(--cor-cinza);
}
@media screen and (min-width:963px){
  
  .video__palestra{
    width: 50%;
    height: 250px;
    
  }
  .texto__palestra--todos{
    width: 40%;
  }
  .nome_da_palestra--todos {
    font-size: 1.25rem;
  }
  .palestrante--todos{
    font-size: 0.95rem;
  }


}




