
.capa__curso--todos{
  width: 30%;
  height: auto;
}

.texto_curso{
  width: 100%;
} 

.nome_do_curso {
  font: 700 1rem "DM Sans", sans-serif;
}

.horas_curso {
  font: 400 0.82rem "DM Sans", sans-serif ;
}

.horasEavaliacao_curso{
  display: flex;
  
  justify-content: space-between;
}

.avaliacao{
  width: 91px;
  height: 21px;
}

.valor_curso {
  font: 700 0.75rem "DM Sans", sans-serif ;
}




@media screen and (min-width:963px){

  .horasEavaliacao_curso {    
    gap: 3rem;    
  }

  .infoEvalor__curso{
    display: flex;
    justify-content: space-between;
  }

  .valor_curso--desktop{  
   font-size: 1.5rem; 
   vertical-align: top;
  }
  


}


