.assuntos__ {
    margin: 5rem 0;
}

.material__itens{
    display: flex;
    flex-direction: column;
}

.material__apostila {
    /* text-decoration: none !important; */
    display: flex;
    font: 400 1.125rem "DM Sans", sans-serif;
    color: var(--cor-cinza);
    padding: 10px 0;
}

.img__pdf {
    margin: 0.4rem;
    width: 20px;
    height: 20px;
}

.material:last-child {
    margin-bottom: 3rem;
}
