.glide__slide--active{
  background-image: linear-gradient(180deg, #180035 0%, #3D0071 100%);  
}

.glide__arrow {
  display: none;
}

@media screen and (min-width:963px) {
  .glide__arrow {
    display: block;
    top: 20rem;
    color: var(--cor-branca);
    border: none;
    border-radius: 10px;
    background-color: #3c00717e;
  }

  /* .glide__arrow--jogos {
    top: 20rem;
  } */

  .glide__arrow--left {
    margin-left: 42%;
  }

  .glide__arrow--right {
    margin-right: 42%;
  }
}