.botao {
  align-items: center;
  background-color: var(--cor-roxa);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--cor-branca);
  display: inline-flex;
  font: 500 1rem "DM Sans", sans-serif;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.botao--enviar {
  color: var(--cor-verde-escuro);
  background-color: var(--cor-verde-teal);
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: 500 0.875rem "DM Sans", sans-serif;
  width: 18rem;
}

@media screen and (min-width:963px) {
  .botao--enviar {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    
  }
}

/* .botao:hover {
  background-color: var(--cor-logo);
.botao:hover {
  /* background-color: var(--cor3);
  >>>>>>> main
  transform: translateY(-3px);
}
*/


