.container--comoFunciona {
  margin-top: 2rem;
}

.titulo--comoFunciona {
  text-align: center;
  font: 700 1.5rem Poppins, sans-serif;
  margin-bottom: 2rem;
}

.produto {
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.produto--financeiro {
  background-color: #71B8FF;
}

.produto--material {
  background-color: #FF6673;
}

.produto--simulador {
  background-color: #FFAA5B;
}

.produto--carteira {
  background-color: #7C83FF;
}

.produto:last-child {
  margin-bottom: 2rem;
}

.titulo--produto{
  font: 700 1.125rem Poppins, sans-serif;
  margin-bottom: 0.4em;
}

.texto--produto {
  font-weight: 500;
}

.botao--produto {
  margin-top: 1.125rem;
}

.produto__img {
  margin-bottom: 2rem;
}
.produto__img--financeiro {
  width: 174px;
}

@media screen and (min-width:963px) {

  .container--comoFunciona {
    margin-top: 7rem;
  }

  .titulo--comoFunciona {
    font-size: 4.375rem;
    margin-bottom: 10rem;
  }

  .produto {
    border-radius: 84px;
    flex-direction: row;
    gap: 4rem;
    height: 26rem;
    justify-content: space-between;
    margin-bottom: 3.5rem;
    padding: 1.5rem 5rem;
    text-align: left;
  }

  .produto--financeiro, .produto--simulador {
    flex-direction: row-reverse;
    text-align: right;
  }

  .produto:last-child {
    margin-bottom: 8rem;
  }

  .titulo--produto{
    font-size: 1.875rem;
  }
  
  .texto--produto {
    font-size: 1.625rem;
  }
  
  .botao--produto {
    width: auto;
  }

  .produto__img {
    margin-bottom: 0rem;
    width: 40%;
  }

  .produto__img--financeiro {
    width: 289px;
  }

}