/* .secao--equipe {
    background-color: var(--cor-branca);
} */

.container--equipe {
    padding: 2rem 0;
}

.titulo--equipe {
    font: 700 1.5625rem Poppins, sans-serif;
    margin-bottom: 2rem;
}

.equipe__componentes {
    margin-bottom: 1.5rem;
}

.equipe:last-child {
    margin-bottom: 0;
}

.equipe__componentes > h3 {
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.titulo--trilha {
    font-size: 1.125rem;
    margin: 2.5rem 0 0.75rem;
}

.texto--componente {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    color: var(--cor-roxa);
}

.equipe__componentes:last-child {
    margin-bottom: 0;
}

.texto--componente > i {
    margin-right: 1rem;
}

@media screen and (min-width:963px) {
    .container--equipe {
        padding: 3rem 0;
    }

    .wrap-componentes {
        display: flex;
        justify-content: center;
        gap: 9rem;
    }

    .titulo--equipe {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .equipe__componentes > h3 {
        font-size: 1rem;
        text-align: left;
    }

    .texto--componente {
        font-size: 1rem;
    }

    .texto--componente > i {
        font-size: 1rem;
    }
}