.secao--inicio {
  background: linear-gradient(90deg, var(--cor2) 0%, #2b0060 100%);
  margin-top: 4.625rem;
  padding-bottom: 1.5rem;


  height: calc(100vh - 4.625rem);
}

.container--inicio {
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background: url(../../img/home/chamada.png) no-repeat 50% 10%;
  
  background-size: 100%;
  
}

.conteudo__chamada {
  max-width: 15rem;
}

.titulo--inicio {
  color: var(--cor5);
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-top: 1rem;
}

.texto--inicio {
  color: var(--cor5);
  font: 400 0.875rem "DM Sans", sans-serif;;
  margin-top: 0.25rem;
}

.texto--inicio > span {
  color: var(--cor3);
}

.botao--inicioUm, .botao--inicioDois {
  color: var(--cor1);
  display: block;
  font: 500 0.875rem "DM Sans", sans-serif;
  text-transform: uppercase;
}

.botao--inicioUm {
  background: var(--cor5);
  margin-top: 1.5625rem;
}

.botao--inicioDois {
  background-color: var(--cor3);
  margin-top: 1rem;
}


@media screen and (min-width:963px) {
  
  .secao--inicio {
    background: linear-gradient(90deg, #180035 0%, #3D0071 50%,  #8d0120 100%);
    align-items: center;
    display: flex;
    height: calc(100vh - 6.30rem);
    margin-top: 6.30rem;
  }

  .container--inicio {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    background-size: 55%;
    background-position: right center;
  }

  .inicio__conteudo {
    width: 25rem;
  }

  .conteudo__chamada {
    width: 100%;
  }

  .titulo--inicio {
    font-size: 2.5rem;
    line-height: 1em;
    margin-top: 0;
    width: 25rem;
  }
  
  .texto--inicio {
    font-size: 1.125rem;
    margin-top: 1rem;
    width: 25rem;
  }

  .conteudo__botoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }
  
  .botao--inicioUm, .botao--inicioDois {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    width: 18rem;
    
  }

  .inicio__img {
    margin-top: 0;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}


