.capa__jogo--todos{
  width: 100%;
  height: auto;
}

.conteudo__invest--todos--jogos{
  display: inline;
  
}
.conteudo__invest--populares {
  height: 18rem;
}

.capa__jogo--populares{
  width: 100%;
  height: auto;
}
.descricao_jogo{
  font: 400 0.9rem "DM Sans", sans-serif;
  width: 100%;
  color: var(--cor-branca);
} 

.botaojogar1{
  background: #7AFDF5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.titulo_jogar1{
  position: absolute;
  width: 110.74px;
  height: 33.4px;
  left: 436px;
  top: 1045px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  color: #000000;
  text-align: center;
}

.botaojogar2{
  background: #7AFDF5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.titulo_jogar2{
  position: absolute;
  width: 110.74px;
  height: 33.4px;
  left: 436px;
  top: 1254px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  color: #000000;
  text-align: center;
}

.botaojogar3{
  background: #7AFDF5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.titulo_jogar3{
  position: absolute;
  width: 110.74px;
  height: 33.4px;
  left: 436px;
  top: 1461px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  color: #000000;
  text-align: center;
}

.botaojogar4{
  background: #7AFDF5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.titulo_jogar4{
  position: absolute;
  width: 110.74px;
  height: 33.4px;
  left: 436px;
  top: 1670px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  color: #000000;
  text-align: center;
}

.botaojogar5{
  background: #7AFDF5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.titulo_jogar5{
  position: absolute;
  width: 110.74px;
  height: 33.4px;
  left: 436px;
  top: 1880px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  color: #000000;
  text-align: center;
}

.botaojogar6{
  background: #7AFDF5;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.titulo_jogar6{
  position: absolute;
  width: 110.74px;
  height: 33.4px;
  left: 436px;
  top: 2088px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  color: #000000;
  text-align: center;
}

.descricao_jogo--todos{
  color: var(--cor-cinza);  
  width: 100%;
  font: 400 0.9rem "DM Sans", sans-serif;
  margin-bottom: 0.5rem;
}

.nome_do_jogo {
  margin-top: 1.5rem;
  font: 700 1rem "DM Sans", sans-serif;
  margin-bottom: 0.5rem;
  color: var(--cor-cinza-claro-titulo-invest);

}

.nome_do_jogo--todos{
  color: var(--cor-cinza);
}

.avaliacao{
  width: 91px;
  height: 21px;
}

@media screen and (min-width:963px){
  .capa__jogo--todos{
    width: 18rem;
    height: 10rem;
  }
  .texto_jogo{
    width: 50%;
  }
  

}
