main {
   margin-top: 4.625rem;
    /* height: calc(100vh - 4.625rem); */
   
    
} 



@media screen and (min-width:963px) {
  
    main {
        margin-top: 6.30rem;
        /* height: calc(100vh - 6.30rem); */

    }

    .cotacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 21rem;
        background: #fff;
        padding: 1rem;
    }

     
  
}