.noticias__ {
    margin: 1rem 0;
}



.conteudo__itens{
  display: flex;
  flex-direction: column;
}

.conteudo__invest--todos {
  display: flex;
  gap: 1rem;
}

.capa__noticias--todos{
  width: 120px;
  height: 67px;
}

.titulo__noticia {
  font: 700 1rem "DM Sans", sans-serif;
  color: var(--cor-cinza);
}

.descricao__noticia {
  font: 400 0.75rem "DM Sans", sans-serif;
  color: var(--cor-cinza);
  
} 

.link__noticia {
  text-decoration: none;
}
  
.descricao_noticias--todos{
  /* width: 171px; */
  height: 24px;
  left: 463px;
  top: 344px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  color: #313131;
}

.titulo--invest__noticias {
  margin-left: 0.3rem;
  font: 700 1.125rem "DM Sans", sans-serif;
  color: #000000
}

.nome_da_noticia {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #313131;
  /* width: 777px; */
  left: 463px;

}
  
.nome_da_noticia--todos{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #313131;
}


@media screen and (min-width:963px){
  .capa__noticias--todos{
    width: 18rem;
    height: 10rem;
  }

  .titulo__noticia {
    font-size: 1.5rem;
    
  }
  
  .descricao__noticia {
    font-size: 1.125rem;
  } 
    
}
   
