html {
  scroll-behavior: smooth;
}

body, html {
  overflow-x:hidden;
}

body {
  background-color: #F9F9F9;
}

:root {
  
  /*cores*/
  --cor1: #0F241D;
  --cor2: #3D0071;
  --cor3: #7AFDF5;
  --cor4: #F9F9F9;
  --cor5: #FFFFFF;

}

.titulo {
  font: 700 1.5rem Popins, sans-serif;
  color: var(--cor2);
}

.texto {
  font: 400 1.125rem "DM Sans", sans-serif;
  color: #000;
}


@media screen and (min-width:768px) {
  
}

@media screen and (min-width:963px) {
  
  .titulo {
    font-size: 2.75rem;
  }
  
  .texto {
    font-size: 1.5rem;
  } 

}
