html {
  scroll-behavior: smooth;
}

body, html {
  overflow-x:hidden;
}

body {
  background-color: #F9F9F9;
}

:root {
  
  /*cores*/
  --cor-verde-escuro: #0F241D;
  --cor-roxa: #3D0071;
  --cor-verde-teal: #7AFDF5;
  --cor-branca: #FFFFFF;
  --cor-cinza: #313131;
  --cor-cinza-claro: #ededed;
}

.titulo {
  font: 700 1.5rem Popins, sans-serif;
  color: var(--cor-roxa);
}

.texto {
  font: 400 1.125rem "DM Sans", sans-serif;
  color: #000;
}

.texto-pequeno {
  font: 400 0.9rem "DM Sans", sans-serif;
  color: var(--cor-branca);
  text-align: center;
  padding: 1rem 0;
}


@media screen and (min-width:963px) {
  
  .titulo {
    font-size: 2.75rem;
  }
  
  .texto {
    font-size: 1.5rem;
  } 

}
