.footer {
  background: linear-gradient(180deg, #180035 0%, #3D0071 100%);
  padding: 1.5em 0;
}

.logo--footer, .logo--footer > span {
  color: var(--cor-branca);
  font-size: 1.5rem;
  
}

.titulo--footer {
  color: var(--cor-branca);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.texto--contato {
  color: var(--cor-branca);
  font-size: 0.75rem;
}

.contato__form {
  margin-top: 0.5rem;
  position: relative;
}

.form__email--input {
  background-color: transparent;
  border: 2px solid var(--cor-branca);
  border-radius: 10px;
  min-height: 50px;
  outline: 0;
  padding: 1em;
  width: 100%;
}

.form__email--input::placeholder {
  color: var(--cor-branca);
  font: 400 0.625rem Poppins, sans-serif;
  opacity: 1;
}

.form__botao--receber {
  background-color: transparent;
  border: none;
  color: var(--cor-branca);
  font: 700 0.625rem Poppins, sans-serif;
  position: absolute;
  right: 1rem;
  top: 35%;
  text-transform: uppercase;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7.9rem;
}

.social__icones {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.icone__img {
  width: 34px;
}


@media screen and (min-width:963px) {

  .footer {
    padding: 3em 0;
  }

  .container--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo--footer, .logo--footer > span {
    font-size: 3rem;
  }

  .contato {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 64%;
  }

  .titulo--footer {
    font-size: 1.75rem;
    margin-top: 0;
  }
  
  .texto--contato {
    font-size: 0.875rem;
  }
  
  .social {
    width: 12rem;
  }
  
  .icone__img {
    width: 53px;
  }

}