.footer {
  background-color: var(--cor2);
  
}

.logo--footer, .logo--footer > span {
  color: var(--cor5);
  font-size: 1.5rem;
}

.titulo--footer {
  color: var(--cor5);
}

.texto--contato {
  color: var(--cor5);
  font-size: 0.75rem;
}