.header {
  background: var(--cor-branca);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 4.625rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.container--header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

/*---- LOGO ----*/
.logo {
  color: var(--cor-verde-escuro);
  font: 700 1.125rem Poppins, sans-serif;
  text-transform: uppercase;
}

.logo > span {
  color: var(--cor-roxa);
}

/*---- MENU ----*/
.menu {
  background-color: var(--cor-branca);
  position: absolute;
  top: 4.625rem;
  left: 0;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  z-index: 1000;
  visibility: hidden;
  overflow-y: hidden;
}

/* Menu mobile com referência no tutorial do vídeo localizado em https://www.youtube.com/watch?v=DnODupiIAiE */
/*início do trecho do tutorial*/
#nav.active #menu {
  height: calc(100vh - 4.625rem);;
  visibility: visible;
  overflow-y: auto;
}

#btn-mobile {
  display: flex;
  border: none;
  background: none;
}

#hamburger {
  border-top: 2px solid var(--cor-roxa);
  width: 20px;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: var(--cor-roxa);
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav.active #hamburger {
  border-top-color: transparent;
}

#nav.active #hamburger::before {
  transform: rotate(135deg);
}

#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
/*fim do trecho do tutorial*/

.menu__itens {
  padding: 0 1.5rem;
}

.menu__item {
  margin-bottom: 1rem;
}

.menu__itens--plataformas {
  padding-top: 1rem;
}

.menu__itens--acesso {
  border-bottom: 1px solid #ECE9E9;
  padding-bottom: 1rem;
}

.item__link {
  font: 400 1rem "DM Sans", sans-serif;
  color: #313131;
}

.item__link--plataformas {
  margin-right: 1rem;
}
 
.menu__link > i {
font-size: 0.75rem;
color: #313131;
}

.subMenu {
  display: none;
}

.subMenu__link {
  font: 400 0.875rem "DM Sans", sans-serif;
  color: var(--cor-roxa);
  line-height: 2.5em;
  margin-left: 1rem;
}

.menu__item:focus-within > .subMenu,
.menu__item:hover > .subMenu {
  display: initial;
}

.menuMobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu__form {
  margin-right: 1rem;
}

.form__busca {
  position: relative;
  /* width: 5rem; */
}

.form__busca > input {
  visibility: hidden;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: 0;
  /* padding: 1em 1em 1em 3.5em; */
  padding: 0;
  height: 45px;
  width: 45px;
  transition: all .5s ease-in-out;
}

.form__busca > button {
  background-color: transparent;
  border: none;
  color: var(--cor2);
  position: absolute;
  right: 1rem;
  top: 32%;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu__form:focus-within > .form__busca > input {
  width: 8rem;
  padding: 1em;
  border-radius: 10px;
  visibility: visible;
}

.menu__form:focus-within > .form__busca > button {
  color: #313131;
  opacity: 0.5;
}

.menu__item--acesso > .item__link {
  color: var(--cor-roxa);
}

.menu__item > .botao--acesso {
  background: none;
  box-shadow: none;
  color: var(--cor-roxa);
  font-weight: 400;
  text-align: left;
  justify-content: flex-start;
  padding: 0;
}

@media screen and (min-width:963px) {
  
  .header {
    height: 6.30rem;
  }

  .container--header {
    justify-content: space-between;
    gap: 1.5rem;
  }

  /*---- LOGO ----*/
  .logo {
    font-size: 1.875rem;
  }

  /*---- MENU ----*/
  .nav {
    position: relative;
  }

  .menu {
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    position: initial;
    visibility: visible;
    overflow: initial;


    width: 55rem;
  }

  #btn-mobile {
    display: none;
  }

  .menu__itens {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0;
  }

  .menu__itens--plataformas, .menu__itens--acesso {
  padding: 0;
  }

  .menu__itens--plataformas:first-child {
    margin-left: 1.5rem;
  }

  .menu__itens--acesso {
    border-bottom: none;
  }

  .menu__item {
    position: relative;
    transition: all 0.4s ease;
    margin-bottom: 0;
  }

  .menu__item--acesso {
    margin-left: 1.5rem;
  }

  .menu__link {
    margin-right: 1.5rem;
  }

 .item__link {
  font: 700 1.125rem "DM Sans", sans-serif;
  color: var(--cor-roxa);
 }


  .item__link--plataformas {
    /* margin-left: 1.5rem; */
    margin-right: 0.5rem;
  }

  .menu__link > i {
  color: var(--cor-roxa);
  }

  .subMenu {
   background-color: rgba(255, 255, 255, 0.87);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(1rem);
   display: none;
   position: absolute;
   width: 13rem;
  }
 
  .subMenu__item, .subMenu__link {
  transition: all 0.4s ease;
  }

  .subMenu__item {
    border-top: 1px solid rgba(0, 0, 0, 0.03);
  }

  .subMenu__item:hover {
   background-color: rgba(42, 1, 26, 0.555);
   backdrop-filter: blur(1rem);
  }

  .subMenu__link {
    font: 700 0.875rem "DM Sans", sans-serif;
    color: var(--cor-roxa);
    line-height: 2em;
    margin-left: 0.5rem;
  }

  .subMenu__item:hover > .subMenu__link {
    color: var(--cor-branca);
  }

  .menu__form {
    position: absolute;
    top: 0.25rem;
    right: 12.75rem;
  }

  /* .form__busca {
    position: relative;
    width: 22rem;
  }
  */

  .form__busca > input {
    /* background-color: var(--cor2);
    border: none; */
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 50px;
    outline: 0;
    padding: 1em 1em 1em 3.5em;
    width: 50px;
    /* visibility: visible; */
  }

  /*
  .form__busca > input::placeholder {
    color: #313131;
    font: 400 1.125rem "DM Sans", sans-serif;
    opacity: 0.5;
  }
  */

  /* .form__busca > button {
    color: var(--cor5);
  }  */

  .menu__form:focus-within > .form__busca > input, 
  .menu__form:hover > .form__busca > input {
    min-height: 50px;
    width: 15rem;
    padding: 1em;
    border-radius: 10px;
    visibility: visible;
  }
  
  .menu__form:focus-within > .form__busca > button,
  .menu__form:hover > .form__busca > button {
    color: #313131;
    opacity: 0.5;
  }

  .menu__item > .botao--acesso {
    align-items: center;
    background-color: var(--cor-roxa);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--cor5);
    display: inline-flex;
    font: 500 1rem "DM Sans", sans-serif;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    /* transition: all 0.4s ease-in-out; */
  }

}